#Environment Variables

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key

#Claude API key
ANTHROPIC_API_KEY=your_anthropic_api_key

# HuggingFace API Token
HUGGINGFACE_API_TOKEN=your_huggingface_api_token

# FastAPI URL
NEUROFINITY_API_URL=http://localhost:8000